body {
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-color: rgb(66, 59, 59);
  }
  .navbar {
    background-color:mediumpurple;
    overflow:hidden ;
    position:-webkit-sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }


  .navbarr {
    background-color:mediumpurple;
    overflow: hidden;
    position:-webkit-sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .navbarr a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbarr a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbarr a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: purple;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: mediumpurple;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    float: none;
    color: white ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: rgb(143, 60, 143);
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  footer{
    display: block;
    text-align: center;
    background-color: mediumpurple;
    padding: 3px;
  }
  
  div.gallery {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 10px;
    width: 315px;
    height: 250px;
  }
  
  div.gallery:hover {
    border:2px solid rgb(230, 230, 230);
  }
  
  div.gallery img {
    width: 160px;
    height: 160px;
  }
  
  div.desc {
    padding: 10px;
    text-align: center;
    font-size: 25px;
    
    color:mediumpurple;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 5px;
    float: left;
    width: 21.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  a{
    color: mediumpurple;
  }
  p{
    font-size: 50px;
    color: mediumpurple;
  }
  p6{
    font-size: 25px;
    color: aliceblue;
  }



  
  














  